/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f0faff;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #020f20;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav,.nav .nav-links {
  display: flex;
  align-items: center;
  position: relative;
}
.nav {
  justify-content: space-between;
}
.nav .logo img {
    height: 2rem;
    width: 7rem;
}
.nav-links a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
/* animation */
.link{
  position: relative;
  display: inline-block;
}
.link::before,.link::after{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color:rgb(238, 243, 244) ;
  transform: scaleX(0);
  transition: transform .6s;
}
.link::before{
  top: 0px;
  transform-origin: left;
}
.link::after{
  bottom: 0px;
  transform-origin:right;
}
.link:hover::before,.link:hover::after{
  transform: scaleX(1);
}

/* animation end */

.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}
/* header */
.flex-center{
  display: flex;
  justify-content: center;
}
img{
  transition: transform .5s;
}
img:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5.5rem;
  background-color: #020f20;
  padding: 2rem 0;
  width: 100%;
}
.box1{
  background-color: #fff;
  height: 14rem;
  border-radius: 10px;
  width: 25rem;
  padding: 1rem;
}
.l-c{
  color: rgb(220, 170, 106);
}
.score{
  background-color: rgb(210, 229, 247);
  padding:0rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: .5rem;
  
}
.team-score{
  display: flex;
  gap: 4rem;
  
}
.team-score img{
  height: 15px;
  width: 30px;
}
.curr-score{
  margin-top: .5rem;
  background-color: rgb(210, 229, 247);
  text-align: center;
  border-radius: .5rem;
}
.pom{
  border-radius: .5rem;
  background-color: aqua;
  margin-top: .5rem;
  padding-left: .5rem;
}
.pom-t{
  color: #4a98f7;
}
.middle1{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.leftdiv,.rightdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

}
.rightdiv{
  width: 20rem;
}
.news{
  background-color: #e4edf4;
  border-radius: .5rem;
  padding: .8rem;
  margin-top: 1rem;
  
}
.news-p{
  border-bottom: 4px solid green;
}
.news-h{
  margin-bottom: 1rem;
}
.n1-photo{
  border-radius: .8rem;
  overflow: hidden;
}
.n1-photo img{
  border-radius: .8rem;
}
.n2-photo{
  width: 600px;
  border-radius: .8rem;
  overflow: hidden;
}
.news-others{
  display: flex;
  justify-content:space-between;
  gap: 2rem;
  margin-top: 1.5rem;
}
.news-last{
  width:11rem;
  
}
.news-last img{
  height:11rem ;
  width: 11rem;
  border-radius: .5rem;
}
.news-last p{
  font-size: .8rem;
}
.view-button{
  float: right;
}
.view-button button{
  border-radius: .5rem;
  padding: 5px;
}
.abc{
  border: 1px solid black;
  padding:.7rem .5rem;
  border-radius: .3rem;
  background-color: #e4edf4;
  border-radius: .5rem;
}
#rashid-p{
  font-size: .75rem;
}
table{
  width: 20rem;
  margin-top: 1rem;
  
}
table,tr,td{
  text-align: center;
}
td{
  padding:.5rem 0rem;
}
select{
  width: 18rem;
  height: 2rem;
  border-radius: .5rem;
  box-shadow: 2px 2px 11px rgb(125, 123, 123);
}
.social{
  border: 1px solid black;
  border-radius: .5rem;
  text-align: center;
  background-color: #e4edf4;
}
.social h2{
  text-align: center;
  font-size: xx-large;
  margin-bottom: 20px;
}
.icons{
  font-size: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.icons a{
  text-decoration: none;
}
.middle2{
  margin-top: 1rem;
  margin-left: 10.2rem;
  margin-right: 10rem;
  background-color: #e4edf4;
  padding: 1rem 1rem;
  border-radius: .5rem;
}
.stat{
  display: flex;
  justify-content:space-between;
  gap: 1rem;
  margin-top: 1rem;
}
.stat img{
  height:180px;
  width: 180px;
  border-radius: .5rem;
}

.footer{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color:  hsl(209, 28%, 34%);
}

.leftf {
  width:40%;
}
.leftf img{
  height: 30px;
  width: 150px;
  
}
.leftf h1{
  font-size: 50px;
  color:whitesmoke;
}
.leftf p{
  font-size:1rem;
  color:whitesmoke;
}
.midf{
  width: 20%;
  margin-left: 20px;

}
.midf a{
  text-decoration: none;
  font-size:15px;
  color:whitesmoke;
}

.midf h2{
  font-size: 18px;
  color:whitesmoke;
}
.rightf{
  width: 40%;
}
.rightf icon-inner{
  height: 20px;
  width: 5px;
}
.rightf h2{
  font-size: 18px;
  color:whitesmoke;
}
.rightf span{
  font-size: 15px;
  color:whitesmoke;
}
.social-list {
  display: flex;
  gap: 20px;
}

.social-link {
  color:whitesmoke;
  font-size: 2rem;
  padding: 5px 5px;
  transition: 0.25s ease;
}
.f-icon{
  color: white;
}

.social-link:is(:hover, :focus-visible) {
  background-color:  hsl(39, 96%, 48%);
  border-color: hsl(39, 96%, 48%);
}

@media screen and (max-width: 950px){
  .header{
    justify-content: center;
    flex-direction: column;
    margin-top: 8rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .middle1{
    width: auto;
  }
  .leftdiv{
    margin-left: 10rem;
  }
  .middle2{
    margin-left: 3rem;
    width: 1015px;
  }
  .stat img{
    height: 170px;
    width: 170px;
  }
  .footer{
    width: 1155px;
  }
}
@media screen and (max-width: 768px){
  .header{
    justify-content: center;
    flex-direction: column;
    margin-top: 8rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .middle1{
    width: auto;
  }
  .leftdiv{
    margin-left: 20rem;
  }
  .middle2{
    margin-left: 3rem;
    width: 1015px;
  }
  .stat img{
    height: 170px;
    width: 170px;
  }
  .footer{
    width: 1155px;
    flex-direction: column;
  }
}